body {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Kumbh', sans-serif;
  letter-spacing: 0.08em;
}

hr {
  border-color: #c2c2c3;
  margin-top: 10%;
  border-style: solid none none none;
  border-width: 2px;
}

h4 {
  margin-bottom: 10%;
}

.age {
  font-weight: 400;
  color: #c2c2c3;
  margin-left: 1%;
}

.bottom-img {
  position: absolute;
  top: 50%;
}

.city {
  font-weight: 400;
  color: #c2c2c3;
  font-size: 14px;
}

.container {
  background-color: #1ba1ad;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}

.social {
  width: 116px;
  float: left;
}

.media {
  font-weight: 400;
  color: #c2c2c3;
  font-size: 12px;
}

.middle-container {
  background-color: white;
  width: 350px;
  height: 420px;
  position: absolute;
  border-radius: 20px;
  margin-left: 38%;
  margin-top: 15%;
}

.mid-container-img {
  border-radius: 20px 20px 0 0;
}

.name {
   font-weight: 700;
   margin-top: 20%;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: auto;
  border: solid 4px;
  border-color: white;
  position: absolute;
  top: 20%;
  left: 35%;
}

.top-img {
  position: absolute;
  right: 60%;
  bottom: 20%;
}
